body {
  background-image: linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
  font-family: sans-serif;
}
.calc {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 15px;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px; 
}
input[type = "button"],
input[type = "text"],
#clea {
  background-color: white;
  font-size: 1.5em;
  border: 1px solid #ddd;
  padding: 15px 0px;
  width: 100%;
  margin: 10px 110px 10px 0px;
  font-weight: bold;
}
input[type = "button"] {
  cursor: pointer;
}
input[type = "text"] {
  margin: 0;
  outline: none;
  padding: 15px;
}
#clea {
  margin: 0;
  background-color: #ff9fa8;
  border: 1px solid #ff9fa8;
}